@meta charset "utf-8";
        * {
            margin: 0;
            box-sizing: border-box;
        }

        ul,
        li,
        ol {
            list-style: none;
        }

        header {
            width: 1920px;
            height: 200px;
            margin: 0 auto;
        }

        #login {
            width: 1920px;
            height: 30px;
            background-color: #eee;
            float: right;
        }

        #login>ul {
            margin: 10px 375px 0 0px;
            font-size: 12px;
        }

        #login>ul>li:first-child {
            border-right: none;
        }
        #login>ul>li {float: right; border-right: 1px solid #666;}

        #login>ul>li>a {
            text-decoration: none;
            color: #666;
            padding: 0 10px 0 10px;
        }


        #logo {
            width: 175px;
            height: 45px;
            float: left;
            margin: 25px 0 0 375px;
        }

        #logo> a >img {
            width: 100%;
            height: 100%;
        }

        

        #search {
            width: 460px;
            height: 50px;
            float: left;
            margin: 25px 0 0 20px;
            border-radius: 20px;
            border: 1px solid #80c342;
}

        #search > input {background-color: #fff; height: 40px; width: 350px;  outline :none;  border-radius:20px; font-size:15px; border:none; margin: 5px 0 0 10px;  }
        #search > input::placeholder { color:#80c342; padding:0 0 0 5px; font-weight: bold; }
        input:focus { width: 240px; height:25px; color:#333; padding:0 0 0 5px;}
        

        
        #icon {
            width: 210px;
            height: 50px;
            float: right;
            margin: 25px 375px 0 0px;
        }

        #icon>img {
            width: 30px;
            height: 30px;
            float: left;
            margin: 0 10px;
        }

        #main_nav {
            width: 1170px;
            height: 70px;
            float: left;
            margin: 20px 0 0 375px;
            position: relative;
        }

        #main_nav>ul {
            margin: 10px 375px 0 25px;
            font-size: 16px;
            width: 1170px;
            height: 30px;
            padding: 0;
            font-weight: bold;
            color:#666;
            letter-spacing: -1px;
        }

        
        

        #main_nav>ul>li {float: left; margin: 10px 30px 0 0px; }

        #main_nav>ul>li>a {
            text-decoration: none;
            color:#000;
            font-weight: bold; position:relative;
        }
        #main_nav>ul>li>a > img {width:25px; height:25px; position:absolute; margin:-4px 0 0 -30px;}
        #main_nav>ul>li>a:hover {
            color: #666;
        }
        .sub_nav {border: 2px solid #ddd; position: absolute; left: 0; border-top: none; width:200px; z-index: 100; background-color: #fff; border-radius: 0 0 0 10px; margin-top: 38px;}
        .sub_nav > li {padding: 20px 0 0 20px;}
        .sub_nav > li:last-child {padding-bottom: 20px;}
        .sub_nav > li > a{text-decoration: none; font-size: 14px; color:#828282; line-height: 10px;}
        .sub_nav > li::before {content: ""; display: inline-block; width: 24px; height: 24px; vertical-align: middle; margin-right: 6px; background-size: 100% 100%; }
        .sub_nav li.gift::before {background-image: url("../img/5403-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.tofu::before {background-image: url("../img/4889-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.fruit::before {background-image: url("../img/4946-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.meat::before {background-image: url("../img/4972-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.pizza::before {background-image: url("../img/4890-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.rice::before {background-image: url("../img/4895-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.kimch::before {background-image: url("../img/4882-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.sauce::before {background-image: url("../img/5061-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.snack::before {background-image: url("../img/5029-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.health::before {background-image: url("../img/5090-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.a_day::before {background-image: url("../img/5118-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.kids::before {background-image: url("../img/5150-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.design_meal::before {background-image: url("../img/5170-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.pet::before {background-image: url("../img/5188-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.kitchen::before {background-image: url("../img/5418-category-icon.svg"); background-repeat: no-repeat;}
        .sub_nav li.beauty::before {background-image: url("../img/5228-category-icon.svg"); background-repeat: no-repeat;}


        

        footer {
            width: 1920px;
            height: 300px;
            margin: 0 auto;
            
        }

        #box {
            width: 1170px;
            height: 270px;
            margin: 10px 0 0 375px;
            float: left; position:relative;
        }
        footer > #box > ul {font-size:14px; margin:20px 0 0 0px; padding:0;}
        footer > #box > ul > li {float:left;  border-right:1px solid #adadad; }
        footer > #box > ul > li > a {text-decoration:none; color:#adadad;   padding:0 20px 0 0px;} 
        footer > #box > ul > li:last-child {border-right:none;}
        footer > #box > ul > li:not(:nth-of-type(1)) {padding:0 0 0 20px;}

        #box > #logo_box {width:180px; height:125px;  float: left; position:absolute; margin:50px 40px 0 0px;}
        #logo_box > .footer_p {width:120px; height:45px; margin:0;}
        #logo_box > img {width:50px; height:50px; margin:20px 5px 0 0px;}
        #f_text1 {width:615px; height:125px; float:left; position:absolute; margin:50px 0 0 210px;}
        #f_text1 > h3 {font-size:16px; margin:0 0 10px 0px; letter-spacing:3px; color:#adadad;}
        #f_text1 > ul > li {float:left; margin:0; padding:0; font-size:14px; line-height:15px; color:#adadad;}

        #f_text2 {width:335px; height:125px; float:left; position:absolute; margin:50px 0 0 850px;}
        #f_text2 > h3 {font-size:20px;  margin:0;  float:left;}
        
        #f_text2 > ul > li {float:left; margin:0; padding:0 5px 0 0px; font-size:14px; line-height:15px; color:#adadad;}
        #f_text2 > ul > li:first-child {margin:5px 0 0 0px;}
        #f_text2 > h6 > a { font-size:16px; float:left; color:#000; margin:10px 0 0 40px;} 

        #f_text3 {width:850px; height:50px; float:left;position:absolute; margin:175px 0 0 185px; font-size:14px; line-height:15px; color:#adadad;}
    