@meta charset "utf-8";

#preview {width:1170px; height:750px; margin:0 auto; background-color: burlywood;}
#preview > p {font-size:12px; float:right;}

#p_img {width:570px; height:750px;background-color:yellowgreen; float:left; }
#p_img > #big_img {width:540px; height:540px; border-radius:10px;  padding:0; margin:0 0 0 15px; overflow:hidden; position:relative; background:url("https://shoppulmuone.cdn.ntruss.com/BOS/il/2021/06/04/640_F97F4288F85C48A6AED2.jpg");}
#big_img > .best {width:45px; height:30px; background-color:#ff752a; position:absolute; font-size:12px; color:#fff; text-align:center; border-radius:10px 0 10px 0px; padding:10px 0 0 0px;}

#imgbox {width:540px; height:125px; margin:0 0 0 15px; background-color:tomato;}
#imgbox > img {width:95px; height:95px; background-color:red; float:left; margin:15px 0 0 10px; border-radius:10px;}
#imgbox > img:first-child {margin:15px 0 0 60px;}

#review {width:540px; height:70px; margin:0 0 0 15px; background-color:royalblue;}

#p_info {width:570px; height:730px; background-color:darkcyan; float:left; margin:0 0 0 30px;}
#top > img {width:20px; height:20px; float:left; margin:0 5px 0 0px; background-color:hotpink;}
#top > .icon {width:35px; height:35px; float:right; margin:0 5px 0 0px; background-color:darkgray;}
#top > h6 {font-size:18px; float:left; font-weight:bold; width:400px; height:35px; background-color:hotpink; margin:0 50px 0 0px;}
#top > h3 {font-size:26px; }
#top > p {font-size:18px; margin:10px 0 20px 0px; color:#5c5c5c;}
span {font-size:32px;}
#won {font-size:20px;}
#top > dt {float:left; background-color:pink;}
#top > dt ,dd {display: block; margin-left: 70px;}

dl {width:570px; height:80px; background-color:fuchsia; }
#price {width:570px; height:95px; background-color:#f7f7f7; margin:20px 0 0 0px; border-radius:10px;}
#price > p {font-size:16px; margin:0 0 0 15px; padding:10px 0 0 0px;}  
#price >#count {float:left; margin:25px 0 0 15px;}
#price >#count > button {width:30px; height:30px; border-radius:100px; border:none; font-size:25px; padding:0 0 10px 0px;}
#price >#count > span {font-size:16px; display:inline-block;}
#price > span {float:right; font-size:22px; margin:30px 15px 0 0px;}
#big_price {text-align:right; margin:10px 0px;}
#big_price > #total {font-size:16px;}
#big_price > #total_price {font-size:36px; color:#ff752a;}
#big_price > #won {font-size:20px; color:#ff752a;}

#purchase > button {width:180px; height:60px; border:1px solid #80c342; color:#80c342; border-radius:10px; font-size:20px; float:left; padding:0; margin:10px 5px 0 0px;}
#purchase > button:first-child {margin:10px 5px 0 10px;}
#purchase > button:last-child {background-color:#80c342; color:#ffffff;}
#purchase > button > img {width:25px; height:25px; float:center; padding:0; }

section {width:1170px; height:6800px; margin:0 auto; background-color:pink;}