@meta charset "utf-8";
        * {
            margin: 0;
            box-sizing: border-box;
        }

        ul,
        li,
        ol {
            list-style: none;
        }

        header {
            width: 1920px;
            height: 200px;
            margin: 0 auto;
        }

        #login {
            width: 1920px;
            height: 30px;
            background-color: #eee;
            float: right;
        }

        #login>ul {
            margin: 10px 375px 0 0px;
            font-size: 12px;
        }

        #login>ul>li:first-child {
            border-right: none;
        }
        #login>ul>li {float: right; border-right: 1px solid #666;}

        #login>ul>li>a {
            text-decoration: none;
            color: #666;
            padding: 0 10px 0 10px;
        }


        #logo {
            width: 175px;
            height: 45px;
            background-color: rgb(133, 38, 38);
            float: left;
            margin: 25px 0 0 375px;
        }

        #logo>img {
            width: 100%;
            height: 100%;
        }

        #search {
            width: 460px;
            height: 50px;
            float: left;
            margin: 25px 0 0 20px;
            border-radius: 20px;
            border: 2px solid rgb(140, 216, 53);
        }

        #icon {
            width: 210px;
            height: 50px;
            float: right;
            margin: 25px 375px 0 0px;
        }

        #icon>img {
            width: 50px;
            height: 100%;
            float: left;
            margin: 0 10px;
        }

        nav {
            width: 1170px;
            height: 70px;
            float: left;
            margin: 20px 0 0 375px;
        }

        nav>ul {
            margin: 10px 375px 0 0px;
            font-size: 15px;
            width: 1170px;
            height: 30px;
            padding: 0;
        }

        nav>ul>li:first-child {
            font-size: 15px;
            margin: 10px 0 0 0px;
            font-weight: bold;
        }

        nav>ul>li>a {
            text-decoration: none;
            float: left;
            color: #000;
            margin: 10px 30px 0 0px;
        }

        nav>ul>li>a:hover {
            color: #666;
        }

        #slider {
            width: 1920px;
            height: 465px;
            margin: 0 auto;
        }

        #slider>img {
            width: 100%;
            height: 100%;
        }

        section {
            width: 1920px;
            height: 6600px;
            margin: 0 auto;
        }

        section>#today {
            width: 1170px;
            height: 580px;
            margin: 30px 0 60px 375px;
        }

        section>#today>#t_title {
            height: 40px;
        }

        section>#today>#t_title>h3 {
            font-size: 28px;
            margin:0 20px 0 20px;
            float: left;
        }

        #t_title>img {
            width: 25px;
            height: 25px;
            margin: 10px 0 0 0px;
        }

        section>#today>.today_p1 {
            width: 560px;
            height: 520px;
            float: left;
            background-color: #eee;
            margin: 20px 0 0 10px;
            border-radius: 20px;
            overflow: hidden;

        }

        section>#today>.today_p1>img {
            width: 100%;
            height: 350px;
        }

        .p1_info>h5 {
            font-size: 17px;
            margin: 20px 0 10px 20px;
        }

        .p1_info>h5:before {
            content: "[풀무원]";
            color: #000;
            margin: 0 5px;
            font-size: 20px;
        }

        .p1_info>p {
            font-size: 17px;
            color: #a9a9a9;
            margin: 10px 0 15px 25px;
        }

        .p1_info>span {
            font-size: 25px;
            color: #000;
            margin: 0 0 0 25px;
        }

        .p1_info>#won {
            font-size: 17px;
            margin: 0;
        }

        .p1_info>#won:after {
            content: "28%";
            color: tomato;
            margin: 0 10px;
            font-size: 25px;
        }

        .p1_info>#price {
            font-size: 17px;
            color: #a9a9a9;
            margin: 0 0 0 5px;
        }

        section>#today>.today_p2 {
            width: 560px;
            height: 520px;
            float: left;
            background-color: #eee;
            margin: 20px 0 0 30px;
            border-radius: 20px;
            overflow: hidden;
        }

        section>#today>.today_p2>img {
            width: 100%;
            height: 350px;
        }

        .p2_info>h5 {
            font-size: 17px;
            margin: 20px 0 10px 20px;
        }

        .p2_info>h5:before {
            content: "[ORGA]";
            color: #000;
            margin: 0 5px;
            font-size: 20px;
        }

        .p2_info>p {
            font-size: 17px;
            color: #a9a9a9;
            margin: 10px 0 15px 25px;
        }

        .p2_info>span {
            font-size: 25px;
            color: #000;
            margin: 0 0 0 25px;
        }

        .p2_info>#won {
            font-size: 17px;
            margin: 0;
        }

        .p2_info>#won:after {
            content: "28%";
            color: tomato;
            margin: 0 10px;
            font-size: 25px;
        }

        .p2_info>#price {
            font-size: 17px;
            color: #a9a9a9;
            margin: 0 0 0 5px;
        }

        section>#priemium {width: 1170px; height: 890px; margin: 0 0 60px 375px; background-color:#204029; border-radius:20px;}
      #P_title {width:340px; height:270px; float:left; margin:100px 0 0 110px;}
      #P_title > #text {width:100%; height:100px; margin:10px 0 0 0px;}
      #text> #top {font-size:35px; color:white;}
      #text> h2 {font-size:35px; color:#f1f2ca;}
      #go {width:200px; height:50px;}
      #go > h5 {font-size:18px;  float:left; margin:10px 10px 0 0px; padding:0; color:#eee;}
      #go > span {font-size:18px; width:30px; height:30px; background-color:#a38166; margin:5px 0 0 0px;float:left; text-align:center; border-radius:100px; color:#eee;}
      
      #mark {width:100%; height:50px; margin:60px 0 0 0px; }
      #mark > h5 {font-size:15px; font-weight:bold; float:left; width:100px; height:20px; margin:0; padding:0; color:#eee;}
      #mark > p {font-size:15px; float:left; width:100%; height:25px;  margin:0; padding:0; color:#eee;} 
      
      #P_slider > img {width:600px; height:270px; float:left; margin:100px 0 0 0px; border-radius:20px;}

      #P_product  {width:950px; height:340px; float:left; margin:40px 0 0 110px;}
      #P_p1 {width:220px; height:340px; float:left; border-radius:10px; margin:0 20px 0 0px;}
      #P_p1 > .P_img {width:210px; height:210px; float:left; margin:0 5px 0 5px; overflow:hidden; border-radius:10px;}
      .P_img > img {width:100%; height:100%;}
      .P_content {width:205px; height:160px; float:left; margin:10px 0 0 10px;}
      .P_content > p {font-size:16px; margin:0 0 10px 0px; padding:0; color:white; width:100%; height:50px; }
      .P_content > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 5px 0px;}
      .P_content > span {font-size:20px; margin:10px 0 0 0px; color:white; }
      .P_content > #won {font-size:14px; margin:0; color:white; }
      #P_p1 > .P_content > #won:after {content:"44%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      .P_content > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px;}
      .P_content > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}

      #P_p2 {width:220px; height:340px; float:left; border-radius:10px; margin:0 20px 0 0px;}
      #P_p2 > .P_img {width:210px; height:210px; float:left; margin:0 5px 0 5px; overflow:hidden; border-radius:10px;}
      #P_p2 > .P_content > #won:after {content:"50%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}

      #P_p3 {width:220px; height:340px; float:left; border-radius:10px; margin:0 20px 0 0px;}
      #P_p3 > .P_img {width:210px; height:210px; float:left; margin:0 5px 0 5px; overflow:hidden; border-radius:10px;}
      #P_p3 > .P_content > #won:after {content:"47%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}

      #P_p4 {width:220px; height:340px; float:left; border-radius:10px; margin:0;}
      #P_p4 > .P_img {width:210px; height:210px; float:left; margin:0 5px 0 5px; overflow:hidden; border-radius:10px;}
      #P_p4 > .P_content > #won:after {content:"44%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      
      #more_button1 {border:1px solid #eee; font-size:20px; width:270px; height:40px; float:left; margin:40px 0 0 450px; text-align:center; border-radius:50px; padding:5px 0 0 0px; color:white;}
        


        section>#free {
            width: 1170px;
            height: 285px;
            margin: 0 0 60px 375px;
        }

        section>#free>h3 {
            font-size: 28px;
            margin: 0 10px 10px 20px;
        }

        section>#free>a>img {
            width: 100%;
            height: 250px;
            float: left;
            border-radius: 20px;
        }

        section>#best {
            width: 1920px;
            height: 1100px;
            background-color: #fafafa;
            margin: 0 0 60px 0px;
        }
         #best > #b_main {width:1170px; height:1020px; float:left; margin:40px 0 0 375px;}
         #best > #b_main> h3 {font-size: 28px; margin: 0 10px 10px 10px;}
         #best > #b_main>ul {margin:0px; padding:0 0 0 10px;}
         #best > #b_main> ul > li > a {text-decoration:none; color:#000; float:left; text-align:center; background-color:white; padding:10px 15px; border-radius:10px; margin:0 10px 10px 0px; font-size:14px; border:1px solid #eee;}
         #best > #b_main> ul > li > a:hover {background-color:#004f18;}

         #b_p1 {width:230px; height:430px; float:left;}
         #b_p1 > .b_img {width:210px; height:210px; position:relative; float:left; border-radius:10px; margin:15px 0 0 10px; overflow:hidden;}
      .b_img > .best {width:50px; height:50px; background-color:#ff752a; border-radius:10px 0 10px 0px; text-align:center; font-weight:bold; color:white; position:absolute; float:left; top:0; left:0; padding:5px; font-size:14px;}
      .b_img > img {width:100%; height:100%;}
      .b_c1 {width:205px; height:160px; float:left; margin:10px 0 0 10px;}
      .b_c1 > img {width:20px; height:20px; float:left; margin:0 5px 0 0px;}
      .b_c1 > h3 {font-size:16px; font-weight:bold;  padding:0 0 5px 0px; }
      .b_c1 > p {font-size:16px; margin:0 0 10px 0px; padding:0; width:100%; height:45px;}
      .b_c1 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 5px 0px;}
      .b_c1 > span {font-size:20px; margin:10px 0 0 0px;}
      .b_c1 > #won {font-size:14px; margin:0;}
      .b_c1> #won:after {content:"44%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      .b_c1 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px;}
      .b_c1 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}
      #star {width:200px; height:20px; float:left; margin:5px 0 0 0px;}
      #star > img {width:15px; height:20px; float:left;}
      #star > span {color:#c2c2c2;}

      #b_p2 {width:230px; height:430px; float:left;}

      #b_p2 > .b_img {width:210px; height:210px; position:relative; float:left; border-radius:10px; margin:15px 0 0 15px; overflow:hidden;}
      .b_img > .best {width:50px; height:50px; background-color:#ff752a; border-radius:10px 0 10px 0px; text-align:center; font-weight:bold; color:white; position:absolute; float:left; top:0; left:0; padding:5px; font-size:14px;}
      .b_img > img {width:100%; height:100%;}

      .b_c2 {width:205px; height:160px; float:left; margin:10px 0 0 15px;}
      .b_c2 > img {width:20px; height:20px; float:left; margin:0 5px 0 0px;}
      .b_c2 > h3 {font-size:16px; font-weight:bold;  padding:0 0 5px 0px; }
      .b_c2 > p {font-size:16px; margin:0 0 10px 0px; padding:0; width:100%; height:45px;}
      .b_c2 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 5px 0px;}
      .b_c2 > span {font-size:20px; margin:10px 0 0 0px;}
      .b_c2 > #won {font-size:14px; margin:0;}
      .b_c2 > #won:after {content:"50%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      .b_c2 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px;}
      .b_c2 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}

      #b_p3 {width:230px; height:430px; float:left;}

      #b_p3 > .b_img {width:210px; height:210px; position:relative; float:left; border-radius:10px; margin:15px 0 0 20px; overflow:hidden;}
      .b_img > .best {width:50px; height:50px; background-color:#ff752a; border-radius:10px 0 10px 0px; text-align:center; font-weight:bold; color:white; position:absolute; float:left; top:0; left:0; padding:5px; font-size:14px;}
      .b_img > img {width:100%; height:100%;}

      .b_c3 {width:205px; height:160px; float:left; margin:10px 0 0 20px;}
      .b_c3 > img {width:20px; height:20px; float:left; margin:0 5px 0 0px;}
      .b_c3 > h3 {font-size:16px; font-weight:bold;  padding:0 0 5px 0px; }
      .b_c3 > p {font-size:16px; margin:0 0 10px 0px; padding:0; width:100%; height:45px;}
      .b_c3 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 5px 0px;}
      .b_c3 > span {font-size:20px; margin:10px 0 0 0px;}
      .b_c3 > #won {font-size:14px; margin:0;}
      .b_c3> #won:after {content:"32%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      .b_c3 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px;}
      .b_c3 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}

      #b_p4 {width:230px; height:430px; float:left;}

      #b_p4 > .b_img {width:210px; height:210px; position:relative; float:left; border-radius:10px; margin:15px 0 0 20px; overflow:hidden;}
      .b_img > .best {width:50px; height:50px; background-color:#ff752a; border-radius:10px 0 10px 0px; text-align:center; font-weight:bold; color:white; position:absolute; float:left; top:0; left:0; padding:5px; font-size:14px;}
      .b_img > img {width:100%; height:100%;}

      .b_c4 {width:205px; height:160px; float:left; margin:10px 0 0 20px;}
      .b_c4 > img {width:20px; height:20px; float:left; margin:0 5px 0 0px;}
      .b_c4 > h3 {font-size:16px; font-weight:bold;  padding:0 0 5px 0px; }
      .b_c4 > p {font-size:16px; margin:0 0 10px 0px; padding:0; width:100%; height:45px;}
      .b_c4 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 5px 0px;}
      .b_c4 > span {font-size:20px; margin:10px 0 0 0px;}
      .b_c4 > #won {font-size:14px; margin:0;}
      .b_c4> #won:after {content:"47%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      .b_c4 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px;}
      .b_c4 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}

      #b_p5 {width:230px; height:430px; float:left;}

      #b_p5 > .b_img {width:210px; height:210px; position:relative; float:left; border-radius:10px; margin:15px 0 0 20px; overflow:hidden;}
      .b_img > .best {width:50px; height:50px; background-color:#ff752a; border-radius:10px 0 10px 0px; text-align:center; font-weight:bold; color:white; position:absolute; float:left; top:0; left:0; padding:5px; font-size:14px;}
      .b_img > img {width:100%; height:100%;}

      .b_c5 {width:205px; height:160px; float:left; margin:10px 0 0 20px;}
      .b_c5 > img {width:20px; height:20px; float:left; margin:0 5px 0 0px;}
      .b_c5 > h3 {font-size:16px; font-weight:bold;  padding:0 0 5px 0px; }
      .b_c5 > p {font-size:16px; margin:0 0 10px 0px; padding:0; width:100%; height:45px;}
      .b_c5 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 5px 0px;}
      .b_c5 > span {font-size:20px; margin:10px 0 0 0px;}
      .b_c5 > #won {font-size:14px; margin:0;}
      .b_c5> #won:after {content:"44%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      .b_c5 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px;}
      .b_c5 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}
      
      #b_p6 {width:230px; height:430px; float:left;}

      #b_p6 > .b_img {width:210px; height:210px; position:relative; float:left; border-radius:10px; margin:15px 0 0 10px; overflow:hidden;}
      .b_img > .best {width:50px; height:50px; background-color:#ff752a; border-radius:10px 0 10px 0px; text-align:center; font-weight:bold; color:white; position:absolute; float:left; top:0; left:0; padding:5px; font-size:14px;}
      .b_img > img {width:100%; height:100%;}

      .b_c6 {width:205px; height:160px; float:left; margin:10px 0 0 10px;}
      .b_c6 > img {width:20px; height:20px; float:left; margin:0 5px 0 0px;}
      .b_c6 > h3 {font-size:16px; font-weight:bold;  padding:0 0 5px 0px; }
      .b_c6 > p {font-size:16px; margin:0 0 10px 0px; padding:0; width:100%; height:45px;}
      .b_c6 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 5px 0px;}
      .b_c6 > #price {opacity:0;}
      .b_c6 > span {font-size:20px; margin:10px 0 0 0px;}
      .b_c6 > #won {font-size:14px; margin:0;}
      .b_c6 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px;}
      .b_c6 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}

      #b_p7 {width:230px; height:430px; float:left;}

      #b_p7 > .b_img {width:210px; height:210px; position:relative; float:left; border-radius:10px; margin:15px 0 0 15px; overflow:hidden;}
      .b_img > .best {width:50px; height:50px; background-color:#ff752a; border-radius:10px 0 10px 0px; text-align:center; font-weight:bold; color:white; position:absolute; float:left; top:0; left:0; padding:5px; font-size:14px;}
      .b_img > img {width:100%; height:100%;}

      .b_c7 {width:205px; height:160px; float:left; margin:10px 0 0 15px;}
      .b_c7 > img {width:20px; height:20px; float:left; margin:0 5px 0 0px;}
      .b_c7 > h3 {font-size:16px; font-weight:bold;  padding:0 0 5px 0px; }
      .b_c7 > p {font-size:16px; margin:0 0 10px 0px; padding:0; width:100%; height:45px;}
      .b_c7 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 5px 0px;}
      .b_c7 > span {font-size:20px; margin:10px 0 0 0px;}
      .b_c7 > #won {font-size:14px; margin:0;}
      .b_c7 > #won:after {content:"28%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      .b_c7 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px;}
      .b_c7 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}

      #b_p8 {width:230px; height:430px; float:left;}

      #b_p8 > .b_img {width:210px; height:210px; position:relative; float:left; border-radius:10px; margin:15px 0 0 20px; overflow:hidden;}
      .b_img > .best {width:50px; height:50px; background-color:#ff752a; border-radius:10px 0 10px 0px; text-align:center; font-weight:bold; color:white; position:absolute; float:left; top:0; left:0; padding:5px; font-size:14px;}
      .b_img > img {width:100%; height:100%;}

      .b_c8 {width:205px; height:160px; float:left; margin:10px 0 0 20px;}
      .b_c8 > img {width:20px; height:20px; float:left; margin:0 5px 0 0px;}
      .b_c8 > h3 {font-size:16px; font-weight:bold;  padding:0 0 5px 0px; }
      .b_c8 > p {font-size:16px; margin:0 0 10px 0px; padding:0; width:100%; height:45px;}
      .b_c8 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 5px 0px;}
      .b_c8 > #price {opacity:0;}
      .b_c8 > span {font-size:20px; margin:10px 0 0 0px;}
      .b_c8 > #won {font-size:14px; margin:0;}
      .b_c8 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px;}
      .b_c8 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}

      #b_p9 {width:230px; height:430px; float:left;}

      #b_p9 > .b_img {width:210px; height:210px;position:relative; float:left; border-radius:10px; margin:15px 0 0 20px; overflow:hidden;}
      .b_img > .best {width:50px; height:50px; background-color:#ff752a; border-radius:10px 0 10px 0px; text-align:center; font-weight:bold; color:white; position:absolute; float:left; top:0; left:0; padding:5px; font-size:14px;}
      .b_img > img {width:100%; height:100%;}

      .b_c9 {width:205px; height:160px; float:left; margin:10px 0 0 20px;}
      .b_c9 > img {width:20px; height:20px; float:left; margin:0 5px 0 0px;}
      .b_c9 > h3 {font-size:16px; font-weight:bold;  padding:0 0 5px 0px; }
      .b_c9 > p {font-size:16px; margin:0 0 10px 0px; padding:0; width:100%; height:45px;}
      .b_c9 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 5px 0px;}
      .b_c9 > span {font-size:20px; margin:10px 0 0 0px;}
      .b_c9 > #won {font-size:14px; margin:0;}
      .b_c9 > #won:after {content:"19%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      .b_c9 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px;}
      .b_c9 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}

      #b_p10 {width:230px; height:430px; float:left;}

      #b_p10 > .b_img {width:210px; height:210px; position:relative; float:left; border-radius:10px; margin:15px 0 0 20px; overflow:hidden;}
      .b_img > .best {width:50px; height:50px; background-color:#ff752a; border-radius:10px 0 10px 0px; text-align:center; font-weight:bold; color:white; position:absolute; float:left; top:0; left:0; padding:5px; font-size:14px;}
      .b_img > img {width:100%; height:100%;}

      .b_c10 {width:205px; height:160px; float:left; margin:10px 0 0 20px;}
      .b_c10 > img {width:20px; height:20px; float:left; margin:0 5px 0 0px;}
      .b_c10 > h3 {font-size:16px; font-weight:bold;  padding:0 0 5px 0px; }
      .b_c10 > p {font-size:16px; margin:0 0 10px 0px; padding:0; width:100%; height:45px;}
      .b_c10 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 5px 0px;}
      .b_c10 > span {font-size:20px; margin:10px 0 0 0px;}
      .b_c10 > #won {font-size:14px; margin:0;}
      .b_c10 > #won:after {content:"47%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      .b_c10 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px;}
      .b_c10 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}

        #new {width: 1170px; height: 460px; margin: 0 0 60px 375px;}
      #new>h3 {font-size: 28px; margin: 0 10px 10px 20px;}
      .n_p1 {width:370px; height:370px; float:left; margin:0 30px 0 0px;}
      .n_p1 > img {width:100%; height:230px; border-radius:20px;}
      .n_p1 > .n_img {width:135px; height:135px; position:relative;  overflow:hidden; float:left;}
      .n_p1 > .n_img > .best {width:45px; height:25px; background-color:#ff752a; position:absolute; border-radius:10px 0 10px 0px; text-align:center; font-weight:bold; color:white;}
      .n_p1 > .n_img > img {width:100%; height:100%;}

      .n_c1 > h3 {font-size:16px; font-weight:bold; margin:0 0 0 20px; padding:0 0 5px 0px; }
      .n_c1 > p {font-size:16px; margin:0 0 10px 10px; padding:0;  }
      .n_c1 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 0 5px;}
      .n_c1 > span {font-size:20px; margin:10px 0 0 0px;}
      .n_c1 > #won {font-size:14px; margin:0 }
      .n_c1 > #won:after {content:"5%"; color:#ff752a; font-size:20px;}
      .n_c1 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px; margin-right:20px;}
      .n_c1 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}


      .n_p2 {width:370px; height:370px; float:left; margin:0 30px 0 0px;}
      .n_p2 > img {width:100%; height:230px; border-radius:20px;}
      .n_p2 > .n_img {width:135px; height:135px; position:relative;  overflow:hidden; float:left;}
      .n_p2 > .n_img > .best {width:45px; height:25px; background-color:#ff752a; position:absolute; border-radius:10px 0 10px 0px; text-align:center; font-weight:bold; color:white;}
      .n_p2 > .n_img > img {width:100%; height:100%;}

      .n_c2 > h3 {font-size:16px; font-weight:bold; margin:0 0 0 20px; padding:0 0 5px 0px; }
      .n_c2 > p {font-size:16px; margin:0 0 10px 10px; padding:0;  }
      .n_c2 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 0 5px;}
      .n_c2 > span {font-size:20px; margin:10px 0 0 0px;}
      .n_c2 > #won {font-size:14px; margin:0 }
      .n_c2 > #won:after {content:"5%"; color:#ff752a; font-size:20px;}
      .n_c2 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px; margin-right:20px;}
      .n_c2 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}

      .n_p3 {width:370px; height:370px; float:left;}
      .n_p3 > img {width:100%; height:230px; border-radius:20px;}
      .n_p3 > .n_img {width:135px; height:135px; position:relative;  overflow:hidden; float:left;}
      .n_p3 > .n_img > .best {width:45px; height:25px; background-color:#ff752a; position:absolute; border-radius:10px 0 10px 0px; text-align:center; font-weight:bold; color:white;}
      .n_p3 > .n_img > img {width:100%; height:100%;}

      .n_c3 > h3 {font-size:16px; font-weight:bold; margin:0 0 0 20px; padding:0 0 5px 0px; }
      .n_c3 > p {font-size:16px; margin:0 0 10px 10px; padding:0;  }
      .n_c3 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 0 5px;}
      .n_c3 > span {font-size:20px; margin:10px 0 0 0px;}
      .n_c3 > #won {font-size:14px; margin:0 }
      .n_c3 > #won:after {content:"5%"; color:#ff752a; font-size:20px;}
      .n_c3 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px; margin-right:20px;}
      .n_c3 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}

        

      #pick {
        width: 1170px;
        height: 410px;
        margin: 0 0 60px 375px;
      }

      #pick>h3 {
        font-size: 28px;
        margin: 0 10px 10px 20px;
      }

      #pick>.box {
        width: 570px;
        height: 320px;
        float: left;
        border-radius: 20px;
        overflow: hidden;
      }
      #pick>.box:nth-of-type(1) {margin:0 30px 0 0px;}

      #pick>.box>a>img {
        width: 100%;
        height: 100%;
      }





      #recently {width: 1170px; height: 1000px; margin: 0 0 60px 375px;}
      #recently>h3 {font-size: 28px; margin: 0 10px 10px 20px;}
      
      #recently>ul {margin: 20px 0 0 20px; padding: 0; width:1170px; height:70px;}
      #recently>ul>li>a {font-size: 12px;  color: #000; text-decoration: none; float: left; border: 1px solid #eee; border-radius: 30px;            padding: 10px 15px;  margin: 0 5px 0 0px; }
      #recently>ul>li>a:hover {background-color: green; border: 1px solid green; }
      
      #r_main {width:1170px; height:875px;}
      #r_main > .s_left {width:270px; height:875px; float:left; margin:0 30px 0 0px;}
      #r_main > .s_left > .r_p1 {width:270px; height:420px; border:1px solid #f7f7f7; background-color:#f7f7f7; float:left; margin:0 0 30px 0px; border-radius:20px; overflow:hidden;}
      .r_p1 > img {width:100%; height:270px;}
      .r_p1 > h3 {font-size:16px; font-weight:bold; margin:10px 0 0 10px; padding:0; }
      .r_p1 > p {font-size:15px; margin:0 0 30px 10px; padding:0;}
      .r_p1 > span {font-size:20px; margin:20px 0 0 10px;}
      .r_p1 > #won {font-size:14px; margin:0 }
      .r_p1 > #won:after {content:"5%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      .r_p1 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px; margin-right:20px;}
      .r_p1 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}

      #r_main > .s_left > .r_p2 {width:270px; height:420px; border:1px solid #f7f7f7; background-color:#f7f7f7; float:left;  border-radius:20px; overflow:hidden;}
      .r_p2 > img {width:100%; height:270px;}
      .r_p2 > h3 {font-size:16px; font-weight:bold; margin:10px 0 0 10px; padding:0;}
      .r_p2 > p {font-size:15px; margin:0 0 30px 10px; padding:0;}
      .r_p2 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2;}
      .r_p2 > span {font-size:20px; margin:10px 0 0 10px;}
      .r_p2 > #won {font-size:14px; margin:0 }
      .r_p2 > #won:after {content:"5%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      .r_p2 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px; margin-right:20px;}
      .r_p2 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}


      #r_main > .r_p3 {width:570px; height:870px;  border:1px solid #f7f7f7; background-color:#f7f7f7;  float:left;  margin:0 30px 0 0px; border-radius:20px; overflow:hidden;}
      .r_p3 > img {width:100%; height:650px;}
      .r_p3 > h3 {font-size:18px; font-weight:bold; margin:10px 0 0 20px; padding:0; }
      .r_p3 > p {font-size:20px; margin:10px 0 50px 20px; padding:0;}
      .r_p3 > #price {font-size:16px; display:block; text-decoration:line-through; color:#c2c2c2;}
      .r_p3 > span {font-size:24px; margin:10px 0 0 20px;}
      .r_p3 > #won {font-size:16px; margin:0 }
      .r_p3 > #won:after {content:"18%"; color:#ff752a; font-size:24px; margin:0 0 0 5px;}
      .r_p3 > .btn {width:40px; height:40px; float:right; background-color:#80c342; border-radius:100px; margin:0 30px 0 0px; }
      .r_p3 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}


      #r_main > .s_right {width:270px; height:875px;  float:left;}
      #r_main > .s_right > .r_p4 {width:270px; height:420px; border:1px solid #f7f7f7; background-color:#f7f7f7; float:left; margin:0 0 30px 0px;  border-radius:20px; overflow:hidden;}
      .r_p4 > img {width:100%; height:270px;}
      .r_p4 > h3 {font-size:16px; font-weight:bold; margin:10px 0 0 10px; padding:0;}
      .r_p4 > p {font-size:15px; margin:0 0 30px 10px; padding:0;}
      .r_p4 > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2;}
      .r_p4 > span {font-size:20px; margin:10px 0 0 10px;}
      .r_p4 > #won {font-size:14px; margin:0 }
      .r_p4 > #won:after {content:"5%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      .r_p4 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px; margin-right:20px;}
      .r_p4 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}

      #r_main > .s_right > .r_p5 {width:270px; height:420px; border:1px solid #f7f7f7; background-color:#f7f7f7; float:left;  border-radius:20px; overflow:hidden;}
      .r_p5 > img {width:100%; height:270px;}
      .r_p5 > h3 {font-size:16px; font-weight:bold; margin:10px 0 0 10px; padding:0;}
      .r_p5 > p {font-size:15px; margin:0 0 30px 10px; padding:0;}
      .r_p5 > span {font-size:20px; margin:20px 0 0 10px;}
      .r_p5 > #won {font-size:14px; margin:0 }
      .r_p5 > #won:after {content:"5%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      .r_p5 > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px; margin-right:20px;}
      .r_p5 > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}



            section>#Brand {width: 1170px; height: 1320px; margin: 0 0 60px 375px;}
            #Brand >h3 {font-size: 28px; margin: 0 10px 10px 20px;}
      #b_list {width:1170px; height:75px;}
      #button {width:40px; height:40px; background-color:#ffffff; border:1px solid #ebebeb; text-align:center; font-size:25px; padding:0 5px 0 0px; margin:15px 0 0 0px; float:left; border-radius:10px;}
      .b_box {width:155px; height:75px; float:left;}
      .b_box > img {width:100%; height:100%;}

      #main_img {width:1170px; height:240px; margin:20px 0px; border-radius:20px;}

      #Brand_product{width:1170px; height:840px;}
      #B_p1 {width:220px; height:410px; float:left; background-color:#eee; border-radius:10px; margin:0 15px 0 0px;}
      #B_p1 > .B_img {width:210px; height:210px; float:left; margin:15px 5px 0 5px; overflow:hidden; border-radius:10px;}
      .B_img > img {width:100%; height:100%;}
      .B_content {width:205px; height:160px; float:left; margin:10px 0 0 10px;}
      .B_content > img {width:20px; height:20px; margin:0px 10px 0 0px; float:left;}
      .B_content > img {display:none;}
      .B_content > h3 {font-size:16px; font-weight:bold;  padding:0 0 5px 0px; margin:0; }
      .B_content > p {font-size:16px; margin:0 0 10px 0px; padding:0; width:100%; height:45px;}
      .B_content > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 5px 0px;}
      #B_p1 > .B_content > #price {opacity:0;}
      .B_content > span {font-size:20px; margin:10px 0 0 0px;}
      .B_content > #won {font-size:14px; margin:0;}
      .B_content > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px;}
      .B_content > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}
      #star {width:200px; height:20px; float:left; margin:5px 0 0 0px;}
      #star > img {width:15px; height:20px; float:left;}
      #star > span {color:#c2c2c2;}

      #B_p2 {width:220px; height:410px; float:left; background-color:#eee; border-radius:10px; margin:0 15px 0 0px;}
      #B_p2 > .B_img {width:210px; height:210px; float:left; border-radius:10px; margin:15px 5px 0 5px; overflow:hidden; border-radius:10px;}
      .B_img > img {width:100%; height:100%;}
      .B_content {width:205px; height:160px; float:left; margin:10px 0 0 10px;}
      .B_content > img {width:20px; height:20px; margin:0px 10px 0 0px; float:left;}
      .B_content > img {display:none;}
      .B_content > h3 {font-size:16px; font-weight:bold;  padding:0 0 5px 0px; margin:0; }
      .B_content > p {font-size:16px; margin:0 0 10px 0px; padding:0; width:100%; height:45px;}
      .B_content > #price {font-size:14px; display:block; text-decoration:line-through; color:#c2c2c2; margin:0 0 5px 0px;}
      .B_content > span {font-size:20px; margin:10px 0 0 0px;}
      .B_content > #won {font-size:14px; margin:0;}
      #B_p2 > .B_content> #won:after {content:"30%"; color:#ff752a; font-size:20px; margin:0 0 0 5px;}
      .B_content > .btn {width:35px; height:35px; float:right; background-color:#80c342; border-radius:100px; margin-top:-10px;}
      .B_content > .btn > img {width:90%; height:90%; margin:2px 0 0 2px;}

      #B_p3 {width:220px; height:410px; float:left; background-color:#eee; border-radius:10px; margin:0 15px 0 0px;}
      #B_p3 > .B_img {width:210px; height:210px; float:left; margin:15px 5px 0 5px; overflow:hidden; border-radius:10px;}
      #B_p3 > .B_content > #price {opacity:0;}

      #B_p4 {width:220px; height:410px; float:left; background-color:#eee; border-radius:10px; margin:0 15px 0 0px;}
      #B_p4 > .B_img {width:210px; height:210px; float:left; margin:15px 5px 0 5px; overflow:hidden; border-radius:10px;}
      #B_p4 > .B_content > #price {opacity:0;}

      #B_p5 {width:220px; height:410px; float:left; background-color:#eee; border-radius:10px; margin:0 10px 0 0px;}
      #B_p5 > .B_img {width:210px; height:210px; float:left; margin:15px 5px 0 5px; overflow:hidden; border-radius:10px;}
      #B_p5 > .B_content > #price {opacity:0;}

      #B_p6 {width:220px; height:410px; float:left; background-color:#eee; border-radius:10px; margin:15px 15px 0 0px;}
      #B_p6 > .B_img {width:210px; height:210px; float:left; margin:15px 5px 0 5px; overflow:hidden; border-radius:10px;}
      #B_p6 > .B_content > #price {opacity:0;}

      #B_p7 {width:220px; height:410px; float:left; background-color:#eee; border-radius:10px; margin:15px 15px 0 0px;}
      #B_p7 > .B_img {width:210px; height:210px; float:left; margin:15px 5px 0 5px; overflow:hidden; border-radius:10px;}
      #B_p7 > .B_content > #price {opacity:0;}

      #B_p8 {width:220px; height:410px; float:left; background-color:#eee; border-radius:10px; margin:15px 15px 0 0px;}
      #B_p8 > .B_img {width:210px; height:210px; float:left; margin:15px 5px 0 5px; overflow:hidden; border-radius:10px;}
      #B_p8 > .B_content > #price {opacity:0;}

      #B_p9 {width:220px; height:410px; float:left; background-color:#eee; border-radius:10px; margin:15px 15px 0 0px;}
      #B_p9 > .B_img {width:210px; height:210px; float:left; margin:15px 5px 0 5px; overflow:hidden; border-radius:10px;}
      #B_p9 > .B_content > #price {opacity:0;}

      #B_p10 {width:220px; height:410px; float:left; background-color:#eee; border-radius:10px; margin:15px 10px 0 0px;}
      #B_p10 > .B_img {width:210px; height:210px; float:left; margin:15px 5px 0 5px; overflow:hidden; border-radius:10px;}
      #B_p10 > .B_content > #price {opacity:0;}

      #more_button {width:180px; height:50px; border-radius:40px; border:1px solid #e2e2e2; text-align:center; padding:15px 0 0 0px; margin:20px 0 0 495px;}

        footer {
            width: 1920px;
            height: 300px;
            margin: 0 auto;
            
        }

        #box {
            width: 1170px;
            height: 270px;
            margin: 10px 0 0 375px;
            float: left; position:relative;
        }
        footer > #box > ul {font-size:14px; margin:20px 0 0 0px; padding:0;}
        footer > #box > ul > li {float:left;  border-right:1px solid #adadad; }
        footer > #box > ul > li > a {text-decoration:none; color:#adadad;   padding:0 20px 0 0px;} 
        footer > #box > ul > li:last-child {border-right:none;}
        footer > #box > ul > li:not(:nth-of-type(1)) {padding:0 0 0 20px;}

        #box > #logo_box {width:180px; height:125px;  float: left; position:absolute; margin:50px 0 0 0px;}
        #logo_box > .footer_p {width:120px; height:45px; margin:0;}
        #logo_box > img {width:50px; height:50px; margin:20px 5px 0 0px;}
        #f_text1 {width:615px; height:125px; float:left; position:absolute; margin:50px 0 0 180px;}
        #f_text1 > h3 {font-size:16px; margin:0 0 10px 40px; letter-spacing:3px; color:#adadad;}
        #f_text1 > ul > li {float:left; margin:0; padding:0; font-size:14px; line-height:15px; color:#adadad;}

        #f_text2 {width:335px; height:125px; float:left; position:absolute; margin:50px 0 0 795px;}
        #f_text2 > h3 {font-size:20px;  margin:0;  float:left;}
        #f_text2 > ul > li {float:left; margin:0; padding:0 5px 0 0px; font-size:14px; line-height:15px; color:#adadad;}
        #f_text2 > ul > li:first-child {margin:10px 0 0 0px;}
        #f_text2 > h6 > a { font-size:16px; float:left; color:#000; margin:10px 0 0 40px;} 

        #f_text3 {width:750px; height:50px; float:left;position:absolute; margin:175px 0 0 185px; font-size:14px; line-height:15px; color:#adadad;}
    